<html>

<head>
    <title>shop</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="shop">
   <div class="title_box">
      <h1>What's new</h1>
       <div class="hrBox"><span>{{allProducts.total}}</span></div>
   </div>
    <ul>
        {{#each allProducts.products}}
        <li>
            <img src="{{this.image.outfit}}">
            <p>{{this.name}}</p>
            <div class='brand'>{{this.brand_name}}</div>
            <div>{{this.price}}</div>
        </li>
        {{/each}}
    </ul>
</body>

</html>